<form class="add-post-form" action="/add-post" method="post">
  <label>Title: <input type="text name='title'"/></label>
  <label>Author: <input type="text name='author'"/></label>
  <label
    >Content: <textarea name="content" cols="30" rows="10"></textarea
  ></label>
  <button type="submit">Submit Post</button>
</form>
